<div class="about-body">
  <div class="about-text">
    <h1 class="about-head">
      About
    </h1>
    <p class="about-info">
      This website is a passion project brought to fruition through CS361 at
      Oregon State University meant to bring nutritional information at no cost
      to the everyday consumer. This info is meant to educate you on the
      nutritional contents of foods you may encounter on a day-to-day basis, and
      tell you what those nutrients within your food really mean for your
      health.
    </p>
    <p class="about-info">
      Nutritional info on foods comes from USDA.
    </p>
    <p class="about-info">
      Something something macronutrients
    </p>
    <p class="about-info">
      Coded and written by Ronith Sethi.
    </p>
  </div>
</div>