<div class="food-box">
    <div class="food-category">
      <p class="food-category-text">
        {{this.category}}
      </p>
    </div>
    <div class="food-name">
      <p class="food-name-text">
        <a href="/food/{{this.index}}" class="food-anchor">
          {{this.name}}
        </a>
      </p>
    </div>
  </div>