<div class="fun-body">
  <h1 class="fun-head">
    Click the button for a random food fun fact!
  </h1>
  <button type="button" id="funButton" onclick="funRedirect()">
    Give me a fun fact!
  </button>
</div>