<div class="fun-body">
  <div class="about-text">
    <h1 class="about-head">
      Fact {{number}}
    </h1>
    <p class="about-info">
      {{Fact}}
    </p>
    <p class="about-info">
      Source:
      {{Source}}
    </p>
  </div>
  <button type="button" id="funButton" onclick="funRedirect()">
    Give me a fun fact!
  </button>
</div>