<div class="outer-help">
        <h1 class="top-help">
          Help
        </h1>
        
        <h1 class="help-header">
          I'm lost! What do I do?
        </h1>
        <img class="help-1" src="../../images/help1.png">
        <p class="help-text">
          Navigate to the 'Home' page on the top left of your screen. From there, you can select a food item, and learn exactly what nutrients it contains!
        </p>
        <h1 class="help-header">
          I don't understand any of these nutrients. What's a carb-o-hydrate?
        </h1>
        <p class="help-text">
          No worries! Simply navigate to the 'Nutrients' section and find the nutrient you want to learn about. Additionally, you can go to the linked websites for more information if you wish.
        </p>
        <h1 class="help-header">
          I'm bored with all these boring food items. What else can I do?
        </h1>
        <p class="help-text">
          Check out the 'Fun' section! It's not quite done yet, but will be available once Microservice A is finished....
        </p>
    </div>