<header>
  <div class="navbar-container">
    <h1 class="navbar-title">
      <a href="/">Home</a>
    </h1>
    <h1 class="navbar-title">
      <a href="/nutrients">Nutrients</a>
    </h1>
    <h1 class="navbar-title">
      <a href="/fun">Fun</a>
    </h1>
    <h1 class="navbar-title">
      <a href="/about">About</a>
    </h1>
    <h1 class="navbar-title">
      <a href="/help">Help</a>
    </h1>
  </div>
</header>