<div class="outer-body">
  <h1 class="welcome-header">
    Welcome to Nutrition's Paradise!
  </h1>
  <p class="welcome-text">
    This website is a database of the most common foods that you see every day.
    If you've ever had curiosities about what's in your food and what those
    words on the nutrition facts
    <i>actually</i>
    mean, then this is the website for you!
  </p>
  <div class="button-outer">
    <a href="/">
      <button class="welcome-button">
        Enter
      </button>
    </a>
  </div>
  <div class="image-outer">
    <img src="images/rainbowfood.jpg" class="welcome-image" />
  </div>
</div>