<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/food.css" />
    <link rel="stylesheet" href="/static/about.css" />
    <link rel="stylesheet" href="/static/fun.css" />
    <link rel="stylesheet" href="/static/help.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="/static/nutrients.css" />
    <link rel="stylesheet" href="/static/welcome.css" />
    <script src="/static/index.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>