body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: block;
  align-items: center;
  position: relative;
  background-color: rgb(218, 218, 218);
}

header a {
  color: green;
}

.navbar-container {
  display: flex; /* Ensures all elements inside are in a row */
  justify-content: space-around; /* Adjust spacing between items */
  align-items: center; /* Align items vertically */
  gap: 20px; /* Adds spacing between titles */
}

.navbar-title {
  color: red;
  font-size: 24px;
  margin: 0; /* Removes default h1 margins */
  padding: 30px 90px; /* Optional: adds spacing around text */
}
